<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>コメント一覧</h1>
<%= render partial: 'comment' %>
    <div class="col-md-6">
      <h1>投稿記事一覧</h1>
<%= render partial: 'posts' %>
  <div class="row">
    <div class="col-md-6">
      <h1>ユーザー一覧</h1>
 <%= render partial: 'user'%>
  </div>
</div>